<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>

<div id="admin-page">

    <div class="container margin_60_35" th:action="@{admin-page}">
        <div class="row">
            <div class="col-lg-4">
                <h3>Add Book</h3>
                <form th:action="@{/admin-page/addBook}" method="post">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="pageNumber" class="form-control" placeholder="Page Number">
                    </div>
                    <div class="form-group">
                        <textarea name="summary" class="form-control" rows="3" placeholder="Summary"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" name="isbn" class="form-control" placeholder="ISBN">
                    </div>
                    <div class="form-group">
                        <label for="category_id">Select Category: </label>
                        <select name="category">
                            <option th:each=" cat : ${category}" th:text="${cat.name}" name="category"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn_1 rounded add_bottom_30">Submit</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-3">
                <h3>Add Category</h3>
                <form th:action="@{/admin-page/addCategory}" method="post">
                    <input type="text" name="category_name" placeholder="Name">
                    <button class="ui-button rounded" type="submit" name="add_category">Submit</button>
                </form>
            </div>
            <div class="col-lg-3" th:object="${category}">
                <h3>Categories</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Category Name</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat : ${category}">
                        <th scope="row" th:text="${cat.name}"></th>
                        <th scope="row">


                            <form th:action="@{/admin-page/updateCategory}" method="post">

                                <input type="hidden" th:value="${cat.name}"  name="category_name">
                                <button class="ui-button rounded"
                                        style="background-color: orange" type="submit" name="update">
                                    Update
                                </button>
                            </form>


                            <form th:action="@{/admin-page/deleteCategory}" method="post">

                                <input type="hidden" th:value="${cat.category_id}" name="category_id">
                                <button class="ui-button rounded"
                                        style="background-color: red" type="submit" name="delete">
                                    Delete
                                </button>
                            </form>

                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div>
        <h3>Books list</h3>

        <div class="col-lg-12">
            <div th:object="${books}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Page Number</th>
                        <th scope="col">Summary</th>
                        <th scope="col">Photo</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Available</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book, book_id : ${books}">
                        <th scope="row" th:text="${book.id}"></th>
                        <th scope="row" th:text="${book.bookName}"></th>
                        <th scope="row" th:text="${book.bookPageNumber}"></th>
                        <th scope="row" th:text="${book.bookSummary}"></th>
                        <th scope="row" th:text="${book.bookPhoto}"></th>
                        <th scope="row" th:text="${book.isbn}"></th>
                        <th scope="row" th:text="${book.available}"></th>
                        <th scope="row">

                            <form th:href="@{/book-update}" th:action="@{/admin-page/update}">
                                <input type="hidden" th:value="${book.id}" name="book_id">
                                <button class="ui-button rounded"
                                        style="background-color: orange" type="submit" name="update">
                                    Update
                                </button>
                            </form>
                            <form th:action="@{/admin-page/delete}" method="post">
                                <input type="hidden" th:value="${book.id}" id="book_id" name="book_id">
                                <button class="ui-button rounded"
                                        style="background-color: red" type="submit" name="delete">
                                    Delete
                                </button>
                            </form>

                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function openForm() {
        document.getElementById("update_popup").style.display = "block";
    }

    function closeForm() {
        document.getElementById("update_popup").style.display = "none";
    }
</script>
</body>
</html>